<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes</title>
</head>
<body>
<h1> Cupcakes List</h1>
<ul id="list_cupcakes">
</ul> 
<h2>Add a cupcake</h2>
<form id="create_cupcake_form">
    <div>
        <label for="form-flavor">Flavor: </label>
        <input name="flavor" id="form-flavor"> 
        </label>
    </div>
    <div>
        <label for="form-rating">Rating: </label>
        <input name="rating" id="form-rating"> 
        </label>
    </div>
    <div>
        <label for="form-size">Size </label>
        <input name="size" id="form-size"> 
        </label>
    </div>
    <div>
        <label for="form-image">Image: </label>
        <input name="image" id="form-image"> 
        </label>
    </div>

<button>Submit</button>
</form>

<script src="https://unpkg.com/jquery"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="/static/cupcakes.js"></script>

</body>
</html>